---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Founder, Software Engineer, Game Designer, Artist"
  pubDate={new Date("July 31 2023")}
  updatedDate={new Date("July 31 2023")}
  heroImage="/profile.jpeg"
>
  <p>Coming Soon</p>
</Layout>
