---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Founder, Software Engineer, Game Designer, Artist"
  pubDate={new Date("August 08 2021")}
  updatedDate={new Date("August 08 2022")}
  heroImage="/profile.jpeg"
>
  <h1>Experience</h1>
  <h4>Kaimo: 2019 to Present</h4>
  <h4>MatchCo / Shiseido Americas: 2017-2019</h4>
  <h4>Travelear: 2016-2020</h4>
  <h4>Zazzle: 2011-2016</h4>
  <h4>Vector Entertainment: 2010-2011</h4>
  <hr>
  <h1>Education</h1>
  <h4>Academy of Art University: 2006-2010</h4>
  <h4>University of Hartford: 2002-2006</h4>
</Layout>
