---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Founder, Software Engineer, Game Designer, Artist"
  pubDate={new Date("August 08 2021")}
  updatedDate={new Date("August 08 2022")}
  heroImage="/profile.jpeg"
>
  <p>coming soon</p>
</Layout>
